VITE_SUPABASE_PROJECT_ID="iuledmffqgjjcwjfvxns"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1bGVkbWZmcWdqamN3amZ2eG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NzIzOTEsImV4cCI6MjA4ODU0ODM5MX0.357O-miFXrCXWplpeqOg9wbpwTKs-eqFfRL7XHDhpdY"
VITE_SUPABASE_URL="https://iuledmffqgjjcwjfvxns.supabase.co"
